#navbar {
    background-color: #9CCC65;
}
body {
    background-color: #F1F8E9;
}
.primary-button {
    background-color: #C5E1A5;
    color: #000000;
}

.secondary-button {
    background-color: #AED581;
    color: #000000;
}

